In [73]:
import pandas as pd
df=pd.read_excel("spreadsheets/students.xlsx")
#display the spread sheets containing student's name, father's name, rollno., maths, physics, chemistry, c.s. & eng 
df.head(50)

       Name Fname  Rno  Maths  Physics  Chemistry  C.S.  English
0   lpb mps   mps  162     25       80         44    19       66
1   uca tdl   tdl  131     86       65         79    83       92
2   pkn uol   uol  190      0       87         95    61       83
3   jeg bkh   bkh  130     92       55         21     4       64
4   rvx lmu   lmu  157     42       35         43    55       79
5   yja dku   dku  109     18       91         81    65       52
6   uep swn   swn  187     22       53         80    88       53
7   fiv mhk   mhk  122     25       65         96    77       80
8   das zkc   zkc  137     89       10          1    66        3
9   muu edv   edv  183     21       92         93    64       48
10  uzg cfp   cfp  137     14       28         46    87       84
11  nsw xrt   xrt  144     89       75         57    59       30
12  oqk wzb   wzb  195     27        9         28    12       22
13  uhg who   who  155     76       19         43   100       97
14  iig nhb   nhb  165     40       59         22    78       74
15  kru rfq   rfq  185     81        2         67    68       47
16  ksv qaz   qaz  172     52       53         19    60       98
17  zym fck   fck  136     71       41         45     1       88
18  dwk hiv   hiv  186     46       43         66    32        8
19  hdu oed   oed  190     50       78         36    17       43
20  sob mnh   mnh  148     67       67         37    56       35
21  xyd ovz   ovz  147     89       51         61    60       93
22  rah nxs   nxs  129     38        6         87    23        5
23  aau qyj   qyj  184     92       35         78    10        6
24  gib gls   gls  195     70       56         72     5       31
25  oty eha   eha  143     12       32         90    81       50
26  hmn zob   zob  199     92       50         85    45       12
27  pvz ygb   ygb  156     15       37         22    20       81
28  cxa uqg   uqg  171     68       29         94    66        1
29  seg xgd   xgd  102     80       10         80    66       69
30  gwq cqi   cqi  193     55       97         33    96        0
31  gxu rwq   rwq  184     33        6         25    49       95
32  fsz qhw   qhw  147     46       35         86    74       98
33  qfn pan   pan  149      1       42         30    86       33
34  bjl exy   exy  139     66       12         58    44       95
35  jqo aqx   aqx  171     42       27         11     1       72
36  qbk zxd   zxd  137     88       39        100    73       64
37  jjv wbm   wbm  121     46       77         68     1       92
38  wee yfa   yfa  139     39       21         71    99       82
39  qmy nza   nza  159     26       32         27    51       68
40  tnt cig   cig  182     52       16          0    96       69
41  drx spq   spq  101     89       53         28    37       64
42  jxt roe   roe  191     23        1         69    98       62
43  kwq rqt   rqt  119     55       43         61    19       53
44  ybw kvp   kvp  193      5       97         31    25        2
45  ydu zqj   zqj  120     43       33         33    54       35
46  gdq vrr   vrr  158     17       54         76    67       43
47  lji zch   zch  192     53       67         68    80       47
48  dnv bel   bel  117     98        7         31    84       71
49  rji ifb   ifb  155     18       50         39    54       21

In [74]:
import pandas as pd
#i> std name with marks in subjects
df=pd.read_excel("spreadsheets/students.xlsx",usecols=["Name","Maths","Physics","Chemistry","C.S.","English"])
df.head(50)

       Name  Maths  Physics  Chemistry  C.S.  English
0   lpb mps     25       80         44    19       66
1   uca tdl     86       65         79    83       92
2   pkn uol      0       87         95    61       83
3   jeg bkh     92       55         21     4       64
4   rvx lmu     42       35         43    55       79
5   yja dku     18       91         81    65       52
6   uep swn     22       53         80    88       53
7   fiv mhk     25       65         96    77       80
8   das zkc     89       10          1    66        3
9   muu edv     21       92         93    64       48
10  uzg cfp     14       28         46    87       84
11  nsw xrt     89       75         57    59       30
12  oqk wzb     27        9         28    12       22
13  uhg who     76       19         43   100       97
14  iig nhb     40       59         22    78       74
15  kru rfq     81        2         67    68       47
16  ksv qaz     52       53         19    60       98
17  zym fck     71       41         45     1       88
18  dwk hiv     46       43         66    32        8
19  hdu oed     50       78         36    17       43
20  sob mnh     67       67         37    56       35
21  xyd ovz     89       51         61    60       93
22  rah nxs     38        6         87    23        5
23  aau qyj     92       35         78    10        6
24  gib gls     70       56         72     5       31
25  oty eha     12       32         90    81       50
26  hmn zob     92       50         85    45       12
27  pvz ygb     15       37         22    20       81
28  cxa uqg     68       29         94    66        1
29  seg xgd     80       10         80    66       69
30  gwq cqi     55       97         33    96        0
31  gxu rwq     33        6         25    49       95
32  fsz qhw     46       35         86    74       98
33  qfn pan      1       42         30    86       33
34  bjl exy     66       12         58    44       95
35  jqo aqx     42       27         11     1       72
36  qbk zxd     88       39        100    73       64
37  jjv wbm     46       77         68     1       92
38  wee yfa     39       21         71    99       82
39  qmy nza     26       32         27    51       68
40  tnt cig     52       16          0    96       69
41  drx spq     89       53         28    37       64
42  jxt roe     23        1         69    98       62
43  kwq rqt     55       43         61    19       53
44  ybw kvp      5       97         31    25        2
45  ydu zqj     43       33         33    54       35
46  gdq vrr     17       54         76    67       43
47  lji zch     53       67         68    80       47
48  dnv bel     98        7         31    84       71
49  rji ifb     18       50         39    54       21

In [75]:
import pandas as pd
df=pd.read_excel("spreadsheets/students.xlsx")
#ii> Display students name with subject name in which marks >70
temp=df[(df["Maths"]>70) | (df["Physics"]>70) | (df["Chemistry"]>70) | (df["C.S."]>70) | (df["English"]>70)]
above_70_in_maths=temp[["Name","Maths","Physics","Chemistry","C.S.","English"]]
above_70_in_maths.head(50)

       Name  Maths  Physics  Chemistry  C.S.  English
0   lpb mps     25       80         44    19       66
1   uca tdl     86       65         79    83       92
2   pkn uol      0       87         95    61       83
3   jeg bkh     92       55         21     4       64
4   rvx lmu     42       35         43    55       79
5   yja dku     18       91         81    65       52
6   uep swn     22       53         80    88       53
7   fiv mhk     25       65         96    77       80
8   das zkc     89       10          1    66        3
9   muu edv     21       92         93    64       48
10  uzg cfp     14       28         46    87       84
11  nsw xrt     89       75         57    59       30
13  uhg who     76       19         43   100       97
14  iig nhb     40       59         22    78       74
15  kru rfq     81        2         67    68       47
16  ksv qaz     52       53         19    60       98
17  zym fck     71       41         45     1       88
19  hdu oed     50       78         36    17       43
21  xyd ovz     89       51         61    60       93
22  rah nxs     38        6         87    23        5
23  aau qyj     92       35         78    10        6
24  gib gls     70       56         72     5       31
25  oty eha     12       32         90    81       50
26  hmn zob     92       50         85    45       12
27  pvz ygb     15       37         22    20       81
28  cxa uqg     68       29         94    66        1
29  seg xgd     80       10         80    66       69
30  gwq cqi     55       97         33    96        0
31  gxu rwq     33        6         25    49       95
32  fsz qhw     46       35         86    74       98
33  qfn pan      1       42         30    86       33
34  bjl exy     66       12         58    44       95
35  jqo aqx     42       27         11     1       72
36  qbk zxd     88       39        100    73       64
37  jjv wbm     46       77         68     1       92
38  wee yfa     39       21         71    99       82
40  tnt cig     52       16          0    96       69
41  drx spq     89       53         28    37       64
42  jxt roe     23        1         69    98       62
44  ybw kvp      5       97         31    25        2
46  gdq vrr     17       54         76    67       43
47  lji zch     53       67         68    80       47
48  dnv bel     98        7         31    84       71

In [81]:
import pandas as pd
df=pd.read_excel("spreadsheets/students.xlsx")
#ii> Display students name with subject name in which marks >70 maths
temp=df[["Name","Maths"]]
temp=temp.loc[temp["Maths"]>70].groupby("Name")
temp.head(50)

       Name  Maths
1   uca tdl     86
3   jeg bkh     92
8   das zkc     89
11  nsw xrt     89
13  uhg who     76
15  kru rfq     81
17  zym fck     71
21  xyd ovz     89
23  aau qyj     92
26  hmn zob     92
29  seg xgd     80
36  qbk zxd     88
41  drx spq     89
48  dnv bel     98

In [77]:
import pandas as pd
df=pd.read_excel("spreadsheets/students.xlsx")
#ii> Display students name with subject name in which marks >70 physics
temp=df[["Name","Physics"]]
temp=temp.loc[temp["Physics"]>70].groupby("Name")
temp.head(50)

       Name  Physics
0   lpb mps       80
2   pkn uol       87
5   yja dku       91
9   muu edv       92
11  nsw xrt       75
19  hdu oed       78
30  gwq cqi       97
37  jjv wbm       77
44  ybw kvp       97

In [78]:
import pandas as pd
df=pd.read_excel("spreadsheets/students.xlsx")
#ii> Display students name with subject name in which marks >70 chem
temp=df[["Name","Chemistry"]]
temp=temp.loc[temp["Chemistry"]>70].groupby("Name")
temp.head(50)

       Name  Chemistry
1   uca tdl         79
2   pkn uol         95
5   yja dku         81
6   uep swn         80
7   fiv mhk         96
9   muu edv         93
22  rah nxs         87
23  aau qyj         78
24  gib gls         72
25  oty eha         90
26  hmn zob         85
28  cxa uqg         94
29  seg xgd         80
32  fsz qhw         86
36  qbk zxd        100
38  wee yfa         71
46  gdq vrr         76

In [79]:
import pandas as pd
df=pd.read_excel("spreadsheets/students.xlsx")
#ii> Display students name with subject name in which marks >70 c.s.
temp=df[["Name","C.S."]]
temp=temp.loc[temp["C.S."]>70].groupby("Name")
temp.head(50)

       Name  C.S.
1   uca tdl    83
6   uep swn    88
7   fiv mhk    77
10  uzg cfp    87
13  uhg who   100
14  iig nhb    78
25  oty eha    81
30  gwq cqi    96
32  fsz qhw    74
33  qfn pan    86
36  qbk zxd    73
38  wee yfa    99
40  tnt cig    96
42  jxt roe    98
47  lji zch    80
48  dnv bel    84

In [72]:
import pandas as pd
df=pd.read_excel("spreadsheets/students.xlsx")
#ii> Display students name with subject name in which marks >70 eng
temp=df[["Name","English"]]
temp=temp.loc[temp["English"]>70].groupby("Name")
temp.head(50)

       Name  English
0   diq byj       96
4   ajo ijj       86
5   cro eal       91
6   tbz gxm       85
9   bzl tsp      100
10  mam bez       97
11  cgn qzj       85
12  xfn ctg       74
17  pvr xpj       92
18  xsj upw       84
22  psv qbr       77
26  cij skx       95
31  oxu uyv       74
33  azt qkt       86
39  kbz msx       93
46  egx qha       78

In [88]:
import pandas as pd
df=pd.read_excel("spreadsheets/students.xlsx")
#iii> Calculate percentage of each student and display it.
df["Percentage"]=(df["Maths"]+df["Physics"]+df["Chemistry"]+df["C.S."]+df["English"])/5
df=df[["Name","Percentage"]]
df.head(50)

       Name  Percentage
0   lpb mps        46.8
1   uca tdl        81.0
2   pkn uol        65.2
3   jeg bkh        47.2
4   rvx lmu        50.8
5   yja dku        61.4
6   uep swn        59.2
7   fiv mhk        68.6
8   das zkc        33.8
9   muu edv        63.6
10  uzg cfp        51.8
11  nsw xrt        62.0
12  oqk wzb        19.6
13  uhg who        67.0
14  iig nhb        54.6
15  kru rfq        53.0
16  ksv qaz        56.4
17  zym fck        49.2
18  dwk hiv        39.0
19  hdu oed        44.8
20  sob mnh        52.4
21  xyd ovz        70.8
22  rah nxs        31.8
23  aau qyj        44.2
24  gib gls        46.8
25  oty eha        53.0
26  hmn zob        56.8
27  pvz ygb        35.0
28  cxa uqg        51.6
29  seg xgd        61.0
30  gwq cqi        56.2
31  gxu rwq        41.6
32  fsz qhw        67.8
33  qfn pan        38.4
34  bjl exy        55.0
35  jqo aqx        30.6
36  qbk zxd        72.8
37  jjv wbm        56.8
38  wee yfa        62.4
39  qmy nza        40.8
40  tnt cig        46.6
41  drx spq        54.2
42  jxt roe        50.6
43  kwq rqt        46.2
44  ybw kvp        32.0
45  ydu zqj        39.6
46  gdq vrr        51.4
47  lji zch        63.0
48  dnv bel        58.2
49  rji ifb        36.4

In [109]:
#Show the name of students who are fail in the examination based on percentage. i.e. less than 33.33%
df=df[df["Percentage"]< 33.33]
df.head(50)

       Name  Percentage
12  oqk wzb        19.6
22  rah nxs        31.8
35  jqo aqx        30.6
44  ybw kvp        32.0

In [117]:
#Read a folder and display all the file name of following type:
#i. .jpg
#ii. .png
#iii. .pdf
#iv. .txt
#v. .xlsx
import glob 

print("*** Displaying .jpg ***")
file_list=glob.glob("../../Downloads/*.jpg")
for file_name in file_list:
    print(file_name)


print("\n*** Displaying .png ***")
file_list=glob.glob("../../Downloads/*.png")
for file_name in file_list:
    print(file_name)


print("\n*** Displaying .pdf ***")
file_list=glob.glob("../../Downloads/*.pdf")
for file_name in file_list:
    print(file_name)


print("\n*** Displaying .txt ***")
file_list=glob.glob("../../Downloads/*.txt")
for file_name in file_list:
    print(file_name)


print("\n*** Displaying .xlsx ***")
file_list=glob.glob("../../Downloads/*.xlsx")
for file_name in file_list:
    print(file_name)

***Displaying .jpg ***
../../Downloads/1655041760138.jpg
../../Downloads/IMG_20221219_145656.jpg
../../Downloads/IMG_20221219_145705.jpg
../../Downloads/aXnoBYg_700b.jpg
../../Downloads/PartAQ1.jpg
../../Downloads/IMG_20221219_145656(1).jpg

***Displaying .png ***
../../Downloads/Anirudh_Yagnik-removebg-preview(1).png
../../Downloads/imageedit_2_2589351755.png
../../Downloads/fotor_2023-2-1_11_57_27.png
../../Downloads/Anirudh_Yagnik-removebg-preview.png

***Displaying .pdf ***
../../Downloads/OVA-002-Block-2.pdf
../../Downloads/OVA-003-Block-2.pdf
../../Downloads/Kaagaz_20221220_143656171178-1.pdf
../../Downloads/20230216AIandComputerVisionBHU.pdf
../../Downloads/Lab-4 Assignment-1.pdf
../../Downloads/Lab-4 Assignment.pdf
../../Downloads/OVA-001-Block-3.pdf
../../Downloads/Lab 3 Working with Images-1.pdf
../../Downloads/ControlFlow_CS.pdf
../../Downloads/Lab 3 Working with Images.pdf
../../Downloads/MAXFORT.pdf
../../Downloads/pragya yagnikBFA hindi paper.pdf
../../Downloads/Lab 3 Working with Images-2.pdf
../../Downloads/Pragya Yagnik resume.pdf

***Displaying .txt ***

***Displaying .xlsx ***